{% extends 'base.html.twig' %}

{% block body %}

    <div class="cover">
        <div class="coverLinks">
            <span class="coverCtn">
            KIDS AND FAMILY <br>
            CREATEUR D'EXEPERIENCES EN FAMILLE <br>
                {% if app.user %}
                    <a id="coverBtn" class="btn loginBtn" href="#">Nouveautés</a>
                    <a id="coverBtn" class="btn loginBtn" href="#">Contribuer</a>
                {% else %}
                    <a id="coverBtn" class="btn loginBtn" href="#">Nous Découvrir</a>
                    <a id="coverBtn" class="btn loginBtn" href="{{ path('app_login') }}">S'inscrire</a>
                {% endif %}
                </span>
        </div>
    </div>

{% endblock %}
