{% extends 'base.html.twig' %}

{% block body %}

    <div class="ctn">
        <h1 class="detailsTitle">Merci pour votre message ! <br>
            <span class="thanksBody">Nous reviendrons vers-vous dans les plus brefs délais</span></h1>
    </div>
{% endblock %}
